.cont-games{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  color: white;
  background-color: rgb(56, 77, 94);
  border-radius: 25px;
  padding: 25px;
}
.cont-games-min{
  color: white;
  background-color: rgb(56, 77, 94);
  padding: 25px;
}
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
  z-index: 1;
}
.cont-bodyGame p {
  word-wrap: break-word; /* Evita que las palabras largas rompan el diseño */
}
#img-principal{
  width: 100%;
  height: 100%;

}
.card{
  background-color: rgba(56, 15, 133, 0.096);
  color: white;
}
