<div class="filters">
  <label for="" style="color: aliceblue;">Titulo</label>
  <input type="text" class="form-control" name="filterName" [(ngModel)]="filterName">
  <label for="" style="color: aliceblue;">Genero</label>
  <select class="form-select" [(ngModel)]="filterGender">
    <option value="" style="color: black;">Seleccione un genero</option>
    <option *ngFor="let gender of genres" [value]="gender">{{gender}}</option>
  </select>
  <label for="" style="color: aliceblue;">Plataforma</label>
  <select class="form-select" [(ngModel)]="filterPlatform">
    <option value="" style="color: black;">Seleccione un genero</option>
    <option *ngFor="let platform of platforms" [value]="platform">{{platform}}</option>
  </select>
</div>
